*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body
{
    font-family: "Kanit", sans-serif;
    font-weight: 200;
    font-style: normal;
}

h2,
.menu
{
    font-weight: bolder;
    font-family: "Josefin Sans", sans-serif;
}

ul
{
    list-style: none;
    display: flex;
    flex-direction: row;
    height: 80px;
    box-shadow: #4170a2;
    justify-content: space-around;
    align-items: center;
}

a
{
    text-decoration: none;
    color: inherit;
    font-size: 20px;
}

a:hover
{
    color: #25B4ED;
    font-weight: bold;
    letter-spacing: 1px;
    transition: all 200ms linear;
    text-decoration: underline;
    filter: drop-shadow(-1px -1px 6px);
}

.menu
{
    color: white;
    background-color: black;
    position: fixed;
    width: 100%;
    z-index: 999;
}


/* ----------------------------------------------------------------------- SECTION 1*/
#section01
{
    background-color: #09233C;
    color: white;
    align-items: center;
    justify-content: center;
    gap: 4vw;
    height: 60vh;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    padding-top: 150px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 80px;
}

.section01_div_left
{
    width: 300px;
    height: 300px;
    position: relative;
    border-radius: 999px;
    overflow: hidden;
    transition: all 200ms linear;
    box-shadow: #4170a2 1px 1px 6px;
    filter: drop-shadow(-1px -1px 6px);
}

.section01_div_left:hover
{
    box-shadow: white 4px 4px 10px;
    filter: drop-shadow(-4px -4px 10px);
}

.imagem_01
{
    width: auto; 
    height: 320px;
    filter: grayscale(100%);
}

.imagem_01:hover
{
    transform: scale(1.1);
    filter: grayscale(0);
}

.section01_div_right
{
    height: 300px;
    width: 850px;
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.l01
{
    width: auto;
    text-align: left;
    font-size: 2rem;
} 

.p01
{
    width: auto;
    text-align: left;
}

/* ----------------------------------------------------------------------- SECTION 2*/
#section02
{
    background-color: #25B4ED;
    background-image: url(./assets/images/Tech.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment: fixed;
    position: relative;
    height: auto;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
}

.tec_title
{
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    transform: translateZ(300px);
}

.wrap_tecs
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    margin-top: 4vh;
    text-align: center;
    padding: 50px;
    flex-wrap: wrap;
    transform: translateZ(300px);
}

.wrap_tecs > div
{
    height: 300px;
    /* From https://css.glass */
    background: rgba(65, 112, 162, 0.4);
    border-radius: 13px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(2.7px);
    -webkit-backdrop-filter: blur(2.7px);
    border: 1px solid rgba(65, 112, 162, 0.21);
    padding: 3rem;
    box-shadow: 2px 2px 2px 0px #09233C;
    -webkit-box-shadow: 2px 2px 5px 0px #09233C;
    -moz-box-shadow: 2px 2px 5px 0px #09233C;
    perspective: 1200px;
}

.tec_icon
{
    filter: drop-shadow(2px 2px 1px);
    transition: transform 0.5s ease, filter 0.5s ease;
}
.stars
{
    font-size: 2rem;
    transition: transform 0.5s ease, filter 0.5s ease;
}

.tec_text
{
    transition: transform 0.5s ease, filter 0.5s ease;
}

.tec_cards
{
    transform-style: preserve-3d; /* Preserva o estilo 3D dos filhos */
    transition: transform 0.5s;
}

.tec_cards:hover
{
    transform: rotateX(2deg) rotateY(35deg);
    box-shadow: 2px 2px 3px 2px black;
    z-index: 1;
}

.tec_cards:hover .tec_icon
{
    transform: translateZ(80px) rotateY(25deg);
    filter: drop-shadow(black 8px 8px 2px);
}

.tec_cards:hover .stars
{
    color: rgb(254, 165, 0);
    transform: translateZ(50px) rotateY(20deg);
    filter: drop-shadow(black 6px 6px 3px);
}

.tec_cards:hover .tec_text
{
    transform: translateZ(15px) rotateY(2deg);
    text-shadow: black 1px 1px 2px;
}

/* ----------------------------------------------------------------------- SECTION 3*/
#section03
{
    background-image: url(./assets/images/blue_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    width: 100%;
    position: relative;
    justify-content: center;
    text-align: center;
    align-content: center;
    color: white;
    padding: 100px;
    padding-top: 150px;
    padding-bottom: 80px;
    font-weight: 500;
}

#section03 > h2
{
    font-size: 2rem;
    letter-spacing: 4px;
    filter: drop-shadow(black 2px 2px 3px);
}

.text_section03
{
    animation: slideRight 2s ease 0s 1 normal forwards;
    filter: drop-shadow(black 2px 2px 3px);
}

@keyframes slideRight 
{
	0% {
		opacity: 0;
		transform: translateX(-250px);
        color: #09233C;
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.btn_section03
{
    background-color: transparent;
    border-color: white;
    color: white;
    box-shadow: black 2px 2px 3px;
    padding: 5px 15px;
    border-radius: 8px;
}

/* ----------------------------------------------------------------------- SECTION 4*/
#section04
{
    background-attachment: #A8B7E3;
    height: 60vh;
    display: flex;
    flex-wrap: wrap;
    padding: 80px;
    gap: 8vw;
    align-items: center;
    justify-content: center;
}

.heading_contact
{
    width: 100%;
    text-align: center;
    margin-top: -50px;
    margin-bottom: 50px;
}

.contact_left
{
    background: linear-gradient(-135deg, black, #09233C, #1176C3, #A8B7E3, white);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: justify;
    justify-content: center;
    box-shadow: black 0px 5px 15px;
    border-radius: 10px;
    gap: 0.2vw;
    padding: 8px;
}

.contact_right
{
    background: linear-gradient(-45deg, black, #09233C, #1176C3, #A8B7E3, white);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
    width: auto;
    height: 300px;
    display: none;
    flex-direction: column;
    align-items: justify;
    justify-content: center;
    box-shadow: black 0px 5px 15px;
    border-radius: 10px;
    gap: 2vw;
    padding: 8px;
}

@keyframes gradient 
{
	0% 
    {
		background-position: 0% 50%;
	}

	50% 
    {
		background-position: 100% 50%;
	}

	100% 
    {
		background-position: 0% 50%;
	}
}

.btn
{
    padding: 5px 15px;
    border-radius: 8px;
    width: 285px;
}

.btn:hover
{
    background-color: #09233C;
    color: white;
    font-weight: bolder;
    cursor: pointer;
}

.btn_Msg
{
    margin-top: 15px;
    align-self: center;
}

/* ----------------------------------------------------------------------- Footer*/
footer
{
    background-color: #09233C;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    color: white;
}

footer > a > img:hover
{
    transform: rotate(360deg);
    opacity: 1;
    transition: all 0.2s linear;
}

@media (width <= 600px)
{
    .section01_div_left
    {
        width: 200px; 
        height: 200px;
    }

    .imagem_01
    {
        width: 200px; 
        height: 200px;
    }

    .l01
    {
        width: auto;
        text-align: center;
    } 

    .p01
    {
        width: auto;
        text-align: center;
    }

    ul
    {
        gap: 2vw;
        font-size: 16px;
    }

    #section04
    {
        gap: 1vw;
    }

    .contact_right
    {
        width: 80%;
        min-width: 80%;
        max-width: 80%;
    }

    #confMsg
    {
        width: 200px;
        max-height: auto;
    }
}

